body {
    font-family: 'Open sans', sans-serif;
}
/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* All html elements have default values for their margin and padding properties. Giving them the value of 0 makes it easier for us to manipulate the size and positioning of elements */

nav{
    padding: 0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    list-style-type: none;
}

nav .nav, nav .nav-logo{
    margin: 0.5rem;
    display: inline;
}

#intro {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.header {
    text-align: center;
}

/* Even though we have access to the padding and margin properties when centering text horizontally, the text align property is still better to use. Manipulating margin might affect non text html tags to be added in the future, which would return unexpected results. */

#intro button{
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
    padding: 1rem;
}
/* 
the selector used is a descendant selector. even though there is only one button present in the page, this is approproate as it helps in code readability telling the developer that the button is located in the intro section
the font weight property changes the thickness of text.
the padding property is used here because we want to make the button larger by creating space from the text content to the borders of the button */

#succeed-info{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
#succeed-info h2{
    margin-bottom: 1rem;
}

#succeed-info .card {
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

footer {
    padding: 0.7rem;
}
footer span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* Activity */

#pre-footer{
    background-color: #002540;
    width: 100%;
}
#pre-footer div{
    margin-right: 5rem;
    padding: 5px;
    color: white;
    display: inline-block;
    vertical-align: top;
}
#pre-footer p, h3{
    margin-bottom: 1px;
}
